<a href="/<%= id %>" class="preview-photo">
  <header><%= name %></header>
</a>

<div class="summary">
  <div class="breeds">
    <span class="breed"><%= breeds[0] %></span>
  </div>
  <div class="size-sex-age">
    <span class="size"><%= size %> <span class="summary-seperator">&#9679;</span></span>
    <span class="sex"><%= sex %> <span class="summary-seperator">&#9679;</span></span>
    <span class="age"><%= age %></span>
  </div>
</div>
