<header>
  <h1><%= name %></h1>
</header>
<hr>

<section class="description">
  <h3>Description</h3>

  <p><%= description %></p>
</section>

<section class="details">
  <h3>Details</h3>

  <ul>
    <li>Age:  <%= age %></li>
    <li>Sex:  <%= sex %></li>
    <li>Size: <%= size %></li>
  </ul>
</section>

<section class="breeds">
  <h3>Breeds</h3>

  <ul>
  <% for (i=0; i<breeds.length; i++) { %>
  <li><%= breeds[i] %></li>
  <% } %>
  </ul>
</section>

<section class="contact">
  <h3>Contact</h3>

  <ul>
  <li><i class="fa fa-phone"></i> <%= contact.phone %></li>
  <li><i class="fa fa-envelope"></i> <%= contact.email %></li>
  </ul>
</section>

<section class="photos">
<% for (i=0; i<photos.length; i++) { %>
  <div class="photo">
    <img src="<%= photos[i].large %>">
  </div>
<% } %>
</section>
